@model Hrm.Main.WebApplication.Models.EmpolyeeHistoryInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmpolyeeHistoryInfo</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentInfo.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentInfo.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesignationsInfo.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesignationsInfo.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeesInfo.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeesInfo.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
